<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.conferencerommapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/nine"
            android:label="@string/app_name"
            android:roundIcon="@drawable/nine"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <activity
                android:name=".Activity.SplashScreen"
                android:theme="@style/AppTheme.NoActionBar">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN"/>
                        <category android:name="android.intent.category.LAUNCHER"/>
                    </intent-filter>
            </activity>

            <activity
                    android:parentActivityName=".Activity.DashBoardActivity"
                    android:name=".Activity.UserInputActivity"
                    android:launchMode="singleTop"
                    android:theme="@style/AppTheme">
            </activity>

            <activity
                android:parentActivityName=".Activity.UserInputActivity"
                android:name=".Activity.BuildingsActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme">
            </activity>

            <activity
                    android:parentActivityName=".Activity.BuildingsActivity"
                    android:launchMode="singleTop"
                    android:name=".Activity.ConferenceRoomActivity"/>

            <activity android:name=".SignIn"
                      android:theme="@style/AppTheme.NoActionBar"/>

            <activity
                    android:parentActivityName=".Activity.ConferenceRoomActivity"
                    android:launchMode="singleTop"
                    android:name=".Activity.BookingActivity"/>

            <activity
                    android:parentActivityName=".Activity.BuildingDashboard"
                    android:launchMode="singleTop"
                    android:name=".Activity.AddingBuilding"/>

            <activity
                    android:parentActivityName=".BlockedDashboard"
                    android:launchMode="singleTop"
                    android:name=".Activity.BuildingDashboard"/>

            <activity
                    android:name=".RegistrationActivity"/>

            <activity android:name=".Activity.DashBoardActivity" />

            <activity
                    android:parentActivityName=".ConferenceDashBoard"
                    android:name=".AddingConference" android:launchMode="singleTop"></activity>

            <activity android:name=".BlockedDashboard"></activity>


            <activity
                    android:parentActivityName=".BlockedDashboard"
                    android:launchMode="singleTop"
                    android:name=".Spinner"></activity>

            <activity
                    android:parentActivityName=".Activity.BuildingDashboard"
                    android:launchMode="singleTop"
                    android:name=".ConferenceDashBoard"></activity>


       </application>

</manifest>